# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.bak

venv
.venv
build/
cmake-build-*
tmp/

Cargo.lock
target/

.idea
.vscode

simul.log
simul.h5*

*.swp

*.log

ph2run/ph2run-trott
ph2run/ph2run-qdrift

bench/b-paulis
bench/b-qreg

test/t-circ_cache
test/t-circ_qdrift
test/t-circ_trott
test/t-data_hamil
test/t-data_multidet
test/t-data_open
test/t-data_trott_steps
test/t-paulis
test/t-qreg
test/t-world

